*.gwf
*.txt
*.json
*.xml.gz
*.sh.swp
*.ipynb
plot_perf.py
timing/NT_varslides/multi_insp/out.hdf
timing/NT_varslides/coh_PTF/out.xml.gz
timing/oneT_varslides/multi_insp/out.hdf
timing/oneT_varslides/coh_PTF/out.xml.gz

