/out_bech_slides/H-H1_GWOSC_4KHZ_R1-1187006835-4096.gwf
/out_bech_slides/V-V1_GWOSC_4KHZ_R1-1187006835-4096.gwf
/out_bech_slides/L-L1_CLEANED_HOFT_C02_T1700406_v3-1187008667-4096.gwf
/out_bech_slides/bank_veto_bank.xml
/out_bech_slides/gw170817_single_template.hdf
/out_bech_slides/GW170817_test_output.hdf

/out_profiler_multi_insp/L-L1_CLEANED_HOFT_C02_T1700406_v3-1187008667-4096.gwf
/out_profiler_multi_insp/H-H1_GWOSC_4KHZ_R1-1187006835-4096.gwf
/out_profiler_multi_insp/V-V1_GWOSC_4KHZ_R1-1187006835-4096.gwf
/out_profiler_multi_insp/L-L1_CLEANED_HOFT_C02_T1700406_v3-1187008667-4096.gwf
/out_profiler_multi_insp/bank_veto_bank.xml
/out_profiler_multi_insp/gw170817_single_template.hdf
/out_profiler_multi_insp/GW170817_test_output.hdf

